@font-face {
  font-family: GoldenBears;
  src: url("../assets/NCAA_Cal_Golden_Bears/NCAA_Cal_Golden_Bears.otf") format("opentype");
}

body {
  font-family: 'GoldenBears';
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  opacity: .70;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, .8);
}

.navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 1);
}
.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 1);
}

header{
  text-align: center;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h3.page-title {
  margin-top: 60px;
  font-size: 100px;
}

#intro .title {
  margin-top: 100px;
}

.details {
  font-size: 300px;
}

@media (min-width: 768px) {
    #intro .title h1{
      margin-top: 50px;
    }
}


.bottom {
  margin-bottom: 70px;
}

.fact {
  text-align: center;
}

.fact-btn {
  bottom: 0px;
  margin-bottom: 0px;
}

.intro{
    background-color: #F72C25;
}

.fact1{
    background-color: #8C1515;
}


.fact2{
    color: #8C1515;
    background-color: #ffffff;
}

.fact3{
    background-color: #8C1515;
}

.fact4{
    color: #8C1515;
    background-color: #ffffff;
}

.answer {
  background: #003262;
  color: #fdb515;
}

/******************************* TOWER FACT ***********************************/
#collapseImages
{
  position: relative;
  height: 400px;
}
#berkeley
{
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  bottom: -350px;
  left: 25%;
  height: 0;
  width: 50%;
}
#stanford
{
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  bottom: -350px;
  left: 25%;
  height: 0;
  width: 50%;
}
